* {
    cursor: url(./LightningElectricity/LightningElectricity_0000000001.png), auto;
    -webkit-animation: cursor 400ms infinite;
    animation: cursor 400ms infinite;
}

@keyframes cursor {
    25% {cursor: url(./LightningElectricity/LightningElectricity_0000000001.png), auto;}
    50% {cursor: url(./LightningElectricity/LightningElectricity_0000000002.png), auto;}
    75% {cursor: url(./LightningElectricity/LightningElectricity_0000000003.png), auto;}
    100% {cursor: url(./LightningElectricity/LightningElectricity_0000000004.png), auto;}
}