* {
    cursor: url(./TurquoiseElectricityLightning/TurquoiseElectricityLightning_0000000001.png), auto;
    -webkit-animation: cursor 400ms infinite;
    animation: cursor 400ms infinite;
}

@keyframes cursor {
    0% {cursor: url(./FlameSword/FlameSword_0000000001.png), auto;}
    20% {cursor: url(./FlameSword/FlameSword_0000000002.png), auto;}
    40% {cursor: url(./FlameSword/FlameSword_0000000003.png), auto;}
    60% {cursor: url(./FlameSword/FlameSword_0000000004.png), auto;}
    80% {cursor: url(./FlameSword/FlameSword_0000000005.png), auto;}
    100% {cursor: url(./FlameSword/FlameSword_0000000006.png), auto;}
}