@tailwind base;
@tailwind components;
@tailwind utilities;

.minibtn1 {
    @apply bg-[#7b8bde] hover:border-[#7b8bde] hover:bg-transparent hover:text-[#7b8bde]
}
.minibtn2 {
    @apply bg-[#ce3266] hover:border-[#ce3266] hover:bg-transparent hover:text-[#ce3266]
}
.minibtn3 {
    @apply bg-[black] hover:border-[black] hover:bg-transparent hover:text-[black]
}
.minibtn4 {
    @apply bg-[#b30003] hover:border-[#b30003] hover:bg-transparent hover:text-[#b30003]
}

.btnopts {
    @apply transition-all duration-500 ring-2 ring-transparent hover:ring-current rounded-full
}

.btn {
    @apply flex max-w-max mb-4 scale-105 hover:scale-125 py-2 px-4 duration-300 text-2xl font-bold p-3 btnopts
}

.mbtn {
    @apply scale-125 hover:scale-150 py-2 px-4 duration-300 text-2xl font-bold mx-10 p-3 btnopts
}

.icob {
    @apply p-2 font-semibold inline-flex items-center space-x-2 hover:bg-transparent btnopts
}

.bdaytxt {
    @apply text-transparent bg-gradient-to-br from-blue-500 to-blue-900 bg-clip-text font-josefinsans
}

.bdaynum {
    @apply block text-8xl font-londrinashadow
}

.bdayintxt {
    @apply inline-block w-[8rem] text-2xl uppercase font-solway
}

.swup-transition-fade {
    transition: .7s;
    opacity: 1;
  }
  html.is-animating .swup-transition-fade {
    opacity: 0;
  }

  .fade-enter * {
    animation: fadein 1s;
  }
  @keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
  }

  .image-wrapper {
    width: 280px;
    height: 280px;
    position: relative;
    @apply mx-auto
}
.image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    @apply rounded-3xl
}
.image-1 {
    clip-path: polygon(0 0, 0 32%, 28% 0);
    transform: translate(-10px, -10px);
    transition: transform 300ms ease;
    transform-origin: top;
}
.image-wrapper:hover .image-1 {
    transform: translate(0, 0);
}
.image-2 {
    clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
    transform: translate(-10px, 5px);
    transition: transform 300ms ease;
}
.image-wrapper:hover .image-2 {
    transform: translate(0, 0);
}
.image-3 {
    clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
    transform: translate(9px, -10px);
    transition: transform 300ms ease;
}
.image-wrapper:hover .image-3 {
    transform: translate(0, 0);
}
.image-4 {
    clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
    transform: translate(10px, 5px);
    transition: transform 300ms ease;
    transform-origin: top;
}
.image-wrapper:hover .image-4 {
    transform: translate(0, 0);
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 3rem;
  padding: 0 0.5rem;
}