@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply w-screen overflow-hidden relative
}

body:before {
    filter: blur(3px) brightness(.5);
    @apply left-0 top-0 w-screen h-screen bg-no-repeat bg-cover overflow-hidden scale-110 absolute block -z-10 bg-center
}

.videostyle {
    @apply shadow-[#005a66] my-1 mx-[2px] overflow-hidden aspect-w-16 aspect-h-9
}

.cu-link {
    @apply text-blue-400 hover:text-blue-700
}

.cu-link {
    background-image: linear-gradient(transparent, transparent), linear-gradient(currentColor, currentColor);
    background-size: 0 3px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    transition: .5s ease-in-out;
}

.cu-link:hover {
    background-size: 100% 3px;
    background-position: 50% 100%;
}

.minibtn1 {
    @apply bg-[#7b8bde] hover:border-[#7b8bde] hover:text-[#7b8bde]
}
.minibtn2 {
    @apply bg-[#ce3266] hover:border-[#ce3266] hover:text-[#ce3266]
}
.minibtn3 {
    @apply bg-[black] hover:border-[black] hover:text-[black]
}
.minibtn4 {
    @apply bg-[#b30003] hover:border-[#b30003] hover:text-[#b30003]
}

.btnring {
    @apply transition-all duration-300 ring-2 ring-transparent hover:ring-current rounded-full
}

.btn {
    @apply p-2 hover:scale-125 text-2xl font-bold btnring text-shadow-drop-lg shadow-md rounded inline-flex items-center
}

.mbtn {
    @apply mx-10 px-4 py-3 hover:scale-125 text-3xl font-bold btnring text-shadow-drop-lg shadow-md inline-flex rounded items-center
}

.backbutton {
    @apply text-[#6bffe4] shadow-[#005a66] bg-info hover:shadow-[#001bab] hover:bg-[#001bab] hover:text-cyan-400
}

.backbuttonpink {
    @apply shadow-[rgba(221,119,255,0.333)]  text-white bg-back hover:shadow-[rgba(221,51,255,0.733)] hover:bg-[rgba(221,51,255,0.733)]
}

.tbl {
    @apply table-auto ring ring-gray-400 bg-[#252525] bg-specs rounded-3xl overflow-hidden
}

.tablering {
    @apply ring-gray-400 ring-1 p-2
}

.td1 {
    @apply text-left tablering
}

.td2 {
    @apply text-right tablering
}

.icob {
    @apply p-2 font-semibold inline-flex items-center space-x-2 hover:bg-transparent btnring
}

.bdaytxt {
    @apply text-transparent bg-gradient-to-br from-blue-500 to-blue-900 bg-clip-text font-josefinsans
}

.bdaynum {
    @apply block text-8xl font-londrinashadow
}

.bdayintxt {
    @apply inline-block text-2xl uppercase font-solway
}

.swup-transition-fade {
    transition: 0.00001s;
    opacity: 1;
  }
  html.is-animating .swup-transition-fade {
    opacity: 0;
  }

.pfp {
    @apply m-auto w-52 h-52 relative mb-2
}

.transformease {
    transition: transform 300ms ease;
}

.pfp:hover * {
    transform: translate(0, 0);
}

.pfp img {
    @apply rounded-3xl absolute top-0 left-0 origin-left transformease
}
.image-1 {
    clip-path: polygon(0 0, 0 32%, 28% 0);
    @apply -translate-x-2 -translate-y-2 origin-top
}
.pfp:hover .image-1 {
    @apply translate-x-0 translate-y-0
}
.image-2 {
    clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
    transform: translate(-10px, 5px);
}
.image-3 {
    clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
    transform: translate(9px, -10px);
}
.image-4 {
    clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
    transform: translate(10px, 5px);
    @apply origin-top
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 3rem;
  padding: 0 0.5rem;
}

@keyframes glitch{
    0%{
      text-shadow: 
      0.02em 0.01em red,
      -0.031em -0.04em green,
      0.04em 0.01em blue;
    }
    10%{
      text-shadow: 
      0.01em 0.02em red,
      0.011em -0.03em green,
      -0.03em 0.03em blue;
    }
    50%{
      text-shadow: 
      -0.03em -0.01em red,
      0.021em 0.03em green,
      0.02em -0.03em blue;
    }
    90%{
      text-shadow: 
      -0.021em -0.01em red,
      -0.021em -0.033em green,
      0.04em 0.01em blue;
    }
    100%{
      text-shadow: 
      0.04em -0.05em red,
      -0.031em 0em green,
      0.021em -0.01em blue;
    }
  }