@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply w-screen overflow-hidden relative
}

body:before {
    filter: blur(3px) brightness(.5);
    @apply left-0 top-0 w-screen h-screen bg-no-repeat bg-cover overflow-hidden scale-110 absolute block -z-10 bg-center
}

.videostyle {
    @apply shadow-[#005a66] my-1 mx-[2px] overflow-hidden aspect-w-16 aspect-h-9
}

.cu-link {
    background-image: linear-gradient(transparent,transparent),linear-gradient(currentColor,currentColor);
    background-size: 0 3px;
    background-position:50% 100%;
    background-repeat: no-repeat;
    transition: .5s ease-in-out;
    @apply text-blue-400 hover:text-blue-700
}

.cu-link:hover {
    background-size: 100% 3px;
    background-position:50% 100%;
}

.minibtn1 {
    @apply bg-[#7b8bde] hover:border-[#7b8bde] hover:text-[#7b8bde]
}

.minibtn2 {
    @apply bg-[#ce3266] hover:border-[#ce3266] hover:text-[#ce3266]
}

.minibtn3 {
    @apply bg-black hover:border-[black] hover:text-[black]
}

.minibtn4 {
    @apply bg-[#b30003] hover:border-[#b30003] hover:text-[#b30003]
}

.btnring {
    @apply transition-all duration-300 ring-2 ring-transparent hover:ring-current rounded-full
}

.btnringn {
    @apply transition-all duration-300 ring-2 ring-transparent hover:ring-current
}

.svgstyle {
    @apply h-11 w-11
}

.nobordbtn {
    @apply text-transparent bg-clip-text transition-all duration-500 p-3 hover:scale-125 font-bold inline-flex items-center text-2xl
}

.btn {
    @apply p-3 hover:scale-125 font-bold btnring text-shadow-drop-lg shadow-md inline-flex items-center
}

.glitch {
    @apply animate-[glitch_2.5s_infinite]
}

.femboy {
    @apply animate-[femboy_2.5s_infinite]
}

.furry {
    @apply animate-[furry_2.5s_infinite]
}

.nametext {
    @apply font-[sacramento] text-8xl glitch
}

.nametext2 {
    @apply font-[sacramento] text-7xl glitch font-bold
}

.backbutton {
    @apply text-[#6bffe4] shadow-[#005a66] bg-info hover:shadow-[#001bab] hover:bg-[#001bab] hover:text-cyan-400
}

.backbuttonpink {
    @apply shadow-[rgba(221,119,255,0.333)] text-white bg-back hover:shadow-[rgba(221,51,255,0.733)] hover:bg-[rgba(221,51,255,0.733)]
}

.tbl {
    @apply table-auto ring ring-gray-400 bg-[#252525] bg-specs rounded-3xl overflow-hidden
}

.tablering {
    @apply ring-gray-400 ring-1 p-2 text-3xl
}

.td1 {
    @apply text-left tablering
}

.td2 {
    @apply text-right tablering
}

.icobn {
    @apply p-2 font-semibold inline-flex items-center space-x-2 hover:bg-white btnringn
}

.icob {
    @apply p-2 font-semibold inline-flex items-center space-x-2 hover:bg-white btnring
}

.bdaytxt {
    @apply text-transparent text-rainbow font-josefinsans
}

.bdaynum {
    @apply block text-8xl font-londrinashadow
}

.bdayintxt {
    @apply inline-block text-2xl uppercase font-solway
}

.swup-transition-fade {
    transition: 0.00001s;
    opacity: 1;
}

html.is-animating .swup-transition-fade {
    opacity: 0;
}

.pfp {
    @apply m-auto w-52 h-52 relative mb-2
}

.transformease {
    transition: transform 300ms ease;
}

.pfp:hover * {
    transform: translate(0,0);
}

.pfp img {
    @apply rounded-3xl absolute top-0 left-0 origin-left transformease
}

.image-1 {
    clip-path: polygon(0 0,0 32%,28% 0);
    @apply -translate-x-2 -translate-y-2 origin-top
}

.pfp:hover .image-1 {
    @apply translate-x-0 translate-y-0
}

.image-2 {
    clip-path: polygon(28% 0,0 32%,0 100%,17% 100%,90% 0);
    transform: translate(-10px,5px);
}

.image-3 {
    clip-path: polygon(100% 0,100% 65%,74% 100%,17% 100%,90% 0);
    transform: translate(9px,-10px);
}

.image-4 {
    clip-path: polygon(100% 65%,74% 100%,100% 100%);
    transform: translate(10px,5px);
    @apply origin-top
}

@keyframes glitch {
    0% {
        text-shadow:
            0.02em 0.01em red,
            -0.031em -0.04em green,
            0.04em 0.01em blue;
    }

    10% {
        text-shadow:
            0.01em 0.02em red,
            0.011em -0.03em green,
            -0.03em 0.03em blue;
    }

    50% {
        text-shadow:
            -0.03em -0.01em red,
            0.021em 0.03em green,
            0.02em -0.03em blue;
    }

    90% {
        text-shadow:
            -0.021em -0.01em red,
            -0.021em -0.033em green,
            0.04em 0.01em blue;
    }

    100% {
        text-shadow:
            0.04em -0.05em red,
            -0.031em 0em green,
            0.021em -0.01em blue;
    }
}

.text-rainbow {
    @apply bg-gradient-to-r from-blue-500 via-green-500 to-red-500 animate-[rainbow_6s_ease-in-out_infinite] text-transparent bg-clip-text bg-[length:400%_100%]
}

@keyframes rainbow {

    0%,
    100% {
        @apply bg-[position:0_0]
    }

    50% {
        @apply bg-[position:100%_0]
    }
}

@keyframes fadein {
    from {
        @apply opacity-0
    }

    to {
        @apply opacity-100
    }
}

@keyframes femboy {
    0% {
        text-shadow:
            0.02em 0.01em #5ecdfa,
            -0.031em -0.04em white,
            0.04em 0.01em #f4aab5;
    }

    10% {
        text-shadow:
            0.01em 0.02em #5ecdfa,
            0.011em -0.03em white,
            -0.03em 0.03em #f4aab5;
    }

    50% {
        text-shadow:
            -0.03em -0.01em #5ecdfa,
            0.021em 0.03em white,
            0.02em -0.03em #f4aab5;
    }

    90% {
        text-shadow:
            -0.021em -0.01em #5ecdfa,
            -0.021em -0.033em white,
            0.04em 0.01em #f4aab5;
    }

    100% {
        text-shadow:
            0.04em -0.05em #5ecdfa,
            -0.031em 0em white,
            0.021em -0.01em #f4aab5;
    }
}



@keyframes furry {
    0% {
        text-shadow:
            0.02em 0.01em #002b52,
            -0.031em -0.04em white,
            0.04em 0.01em #efa82a;
    }

    10% {
        text-shadow:
            0.01em 0.02em #002b52,
            0.011em -0.03em white,
            -0.03em 0.03em #efa82a;
    }

    50% {
        text-shadow:
            -0.03em -0.01em #002b52,
            0.021em 0.03em white,
            0.02em -0.03em #efa82a;
    }

    90% {
        text-shadow:
            -0.021em -0.01em #002b52,
            -0.021em -0.033em white,
            0.04em 0.01em #efa82a;
    }

    100% {
        text-shadow:
            0.04em -0.05em #002b52,
            -0.031em 0em white,
            0.021em -0.01em #efa82a;
    }
}

/* WORDLE CLONE */

.wordlebody {
    font-size: clamp(.5rem, 2.5vmin, 1.5rem);
    @apply bg-black flex flex-col min-h-screen m-0 p-4
}

.keyboard {
    grid-auto-rows: 3em;
    @apply grid grid-cols-[repeat(20,minmax(auto,1.25em))] justify-center gap-[.25em]
}

.key {
    grid-column: span 2;
    background-color: hsl(
        var(--hue, 200),
        var(--saturation, 1%),
        calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
        );
    @apply text-size-unset border-none p-0 flex justify-center items-center text-white fill-white uppercase cursor-pointer select-none rounded
}

.key.large {
    grid-column: span 3;
}

.key > svg {
    width: 1.75em;
    height: 1.75em;
}

.key:hover, .key:focus {
    --lightness-offset: 10%;
}

.key.wrong {
    --lightness: 23%;
}

.key.wrong-location {
    --hue: 49;
    --saturation: 51%;
    --lightness: 47%;
}

.key.correct {
    --hue: 115;
    --saturation: 29%;
    --lightness: 43%;
}

.guess-grid {
    @apply grid justify-center content-center grow grid-cols-[repeat(5,_4em)] grid-rows-[repeat(6,_4em)] gap-[.25em] mb-[1em]
}

.tile {
    border: .05em solid hsl(240, 2%, 23%);
    transition: transform 250ms linear;
    @apply text-[2em] text-white uppercase font-bold flex justify-center items-center select-none
}

.tile[data-state="active"] {
    border-color: hsl(200, 1%, 34%);
}

.tile[data-state="wrong"] {
    border: none;
    background-color: hsl(240, 2%, 23%);
}

.tile[data-state="wrong-location"] {
    border: none;
    background-color: hsl(49, 51%, 47%);
}

.tile[data-state="correct"] {
    border: none;
    background-color: hsl(115, 29%, 43%);
}

.tile.shake {
    animation: shake 250ms ease-in-out;
}

.tile.dance {
    animation: dance 500ms ease-in-out;
}

.tile.flip {
    transform: rotateX(90deg);
}

@keyframes shake {
    10% {
        transform: translateX(-5%);
    } 30% {
        transform: translateX(5%);
    } 50% {
        transform: translateX(-7.5%);
    } 70% {
        transform: translateX(7.5%);
    } 90% {
        transform: translateX(-5%);
    } 100% {
        transform: translateX(0);
    }
}

@keyframes dance {
    20% {
        transform: translateY(-50%);
    } 40% {
        transform: translateY(5%);
    } 60% {
        transform: translateY(-25%);
    } 80% {
        transform: translateY(2.5%);
    } 90% {
        transform: translateY(-5%);
    } 100% {
        transform: translateY(0);
    }
}

.alert-container {
    position: fixed;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert {
    pointer-events: none;
    background-color: hsl(204, 7%, 85%);
    padding: .75em;
    border-radius: .25em;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    margin-bottom: .5em;
}

.alert:last-child {
    margin-bottom: 0;
}

.alert.hide {
    opacity: 0;
}